@model IEnumerable<Plant.ViewModels.CategoryVm>
<ul class="sub-menu">
    @foreach (var item in Model)
    {
        if (item.ParentId == null)
        {
            <li class="menu-item-has-children">
                <a asp-controller="Products" asp-action="GetListProducts" asp-route-id="@item.CategoryId"><i class="fa-solid fa-minus"></i> @item.CategoryName</a>
                <ul class="sub-menu">
                    @foreach (var child in Model)
                    {
                        if (child.ParentId == item.CategoryId)
                        {
                            <li>
                                <a asp-controller="Products" asp-action="GetListProducts" asp-route-id="@child.CategoryId"><i class="fa-solid fa-plus"></i> @child.CategoryName</a>
                            </li>
                        }
                    }
                </ul>
            </li>
        }
    }

</ul>
