@model Plant.Models.User

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Quản lí hệ thống</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Danh sách tài khoản</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thêm mới tài khoản</li>
    </ol>
</nav>
<!-- Container -->
<div class="container-fluid px-lg-4">
    <!-- Title -->
    <div class="hk-pg-header">
        <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="toggle-right"></i></span></span>Thêm mới tài khoản</h4>
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <form asp-action="Create">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="UserName" class="control-label">Họ tên</label>
                            <input asp-for="UserName" class="form-control" placeholder="Nhập tên người dùng..." />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input asp-for="Email" class="form-control" type="email" placeholder="Nhập email..." />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="Password" class="control-label">Mật khẩu</label>
                            <input asp-for="Password" class="form-control" type="password" placeholder="Nhập mật khẩu..." />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label asp-for="RoleId" class="control-label">Quyền truy cập</label>
                            <select class="form-control" asp-for="RoleId" asp-items=ViewBag.RoleId></select>
                        </div>
                        <div class="form-group my-2 d-flex align-items-center">
                            <a asp-action="Index" class="btn btn-dark mr-1">Đóng <i class="far fa-times"></i></a>
                            <input type="submit" name="" value="Tạo mới &#xf00c" class="btn btn-success mr-2 fa-input">
                        </div>
                    </div>


                </form>

            </section>
        </div>
    </div>
</div>
<!-- /Container -->


@section Scripts {
}

