<nav class="hk-nav hk-nav-light">
    <a href="javascript:void(0);" id="hk_nav_close" class="hk-nav-close"><span class="feather-icon"><i data-feather="x"></i></span></a>
    <div class="nicescroll-bar">
        <div class="navbar-nav-wrap">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminHome" asp-action="Dashboard">
                        <span class="feather-icon"><i data-feather="activity"></i></span>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
            </ul>
            <hr class="nav-separator">
            <div class="nav-header">
                <span>User Interface</span>
                <span>UI</span>
            </div>
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#Components_drp">
                        <span class="feather-icon"><i data-feather="layout"></i></span>
                        <span class="nav-link-text">Quản lí hệ thống</span>
                    </a>
                    <ul id="Components_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="AdminLanguages" asp-action="Index">Ngôn ngữ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-page="/Role/Index">Quyền truy cập</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="AdminAspNetUsers" asp-action="Index">Danh sách tài khoản</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#content_drp">
                        <span class="feather-icon"><i data-feather="type"></i></span>
                        <span class="nav-link-text">Tin tức</span>
                    </a>
                    <ul id="content_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="AdminCategoryNews" asp-action="Index">Danh mục tin tức</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="AdminBlogs" asp-action="Index">Danh sách tin tức</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#utilities_drp">
                        <span class="feather-icon"><i data-feather="anchor"></i></span>
                        <span class="nav-link-text">Sản phẩm</span>
                    </a>
                    <ul id="utilities_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="AdminCategories" asp-action="Index">Danh mục sản phẩm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Danh sách sản phẩm</a>
                                </li>
                             
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" data-toggle="collapse" data-target="#forms_drp">
                        <span class="feather-icon"><i data-feather="server"></i></span>
                        <span class="nav-link-text">Đơn hàng</span>
                    </a>
                    <ul id="forms_drp" class="nav flex-column collapse collapse-level-1">
                        <li class="nav-item">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="AdminPayments" asp-action="Index">Phương thức thanh toán</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index"> Danh sách đơn hàng</a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminFeedbacks" asp-action="Index">
                        <span class="feather-icon"><i data-feather="list"></i></span>
                        <span class="nav-link-text">Phản hồi</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="AdminContacts" asp-action="Index">
                        <span class="feather-icon"><i data-feather="pie-chart"></i></span>
                        <span class="nav-link-text">Liên hệ</span>
                    </a>
                    
                </li>
            </ul>
            <hr class="nav-separator">
            <div class="nav-header">
                <span>Getting Started</span>
                <span>GS</span>
            </div>
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="documentation.html">
                        <span class="feather-icon"><i data-feather="book"></i></span>
                        <span class="nav-link-text">Documentation</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-with-badge" href="#">
                        <span class="feather-icon"><i data-feather="eye"></i></span>
                        <span class="nav-link-text">Changelog</span>
                        <span class="badge badge-sm badge-danger badge-pill">v 1.0</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="feather-icon"><i data-feather="headphones"></i></span>
                        <span class="nav-link-text">Support</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
