@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Identity
@using Plant.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- my account start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li><a asp-area="" asp-controller="Users" asp-action="Index"  class="nav-link active">Tài khoản của tôi</a></li>
                            <li> <a asp-area="" asp-controller="Users" asp-action="ManageOrder"  class="nav-link">Đơn mua</a></li>
                            <li><a href="#downloads"  class="nav-link">Thông báo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var firstName = user.FirstName;
                            var lastName = user.LastName;
                            var email = user.Email;
                            var phone = user.PhoneNumber;
                            <div class="tab-pane fade show active">
                                <h3>Hồ sơ của tôi </h3>
                                <p>Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group mb-20">
                                        <label for="lastName">Last Name</label>
                                        <input class="form-control" value="@lastName" readonly>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group mb-20">
                                        <label for="lastName">First Name</label>
                                        <input class="form-control" value="@firstName" readonly>
                                    </div>
                                    <div class="form-group mb-20">
                                        <label for="lastName">Email</label>
                                        <input class="form-control" value="@email" readonly>
                                    </div>
                                    <div class="form-group mb-20">
                                        <label for="lastName">Phone</label>
                                        <input class="form-control" value="@phone" readonly>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="tab-pane fade" id="downloads">
                            <h3>Downloads</h3>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Downloads</th>
                                            <th>Expires</th>
                                            <th>Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Shopnovilla - Free Real Estate PSD Template</td>
                                            <td>May 10, 2018</td>
                                            <td><span class="danger">Expired</span></td>
                                            <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                        </tr>
                                        <tr>
                                            <td>Organic - ecommerce html template</td>
                                            <td>Sep 11, 2018</td>
                                            <td>Never</td>
                                            <td><a href="#" class="view">Click Here To Download Your File</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- my account end   -->
