@model IEnumerable<Plant.ViewModels.CategoryNewViewModels>
<ul class="sub-menu">
    @foreach (var item in Model)
    {
        if (item.ParentNewId == null)
        {
            <li class="menu-item-has-children">
                <a asp-controller="Blogs" asp-action="GetListBlog" asp-route-id="@item.CategoryNewId"><i class="fa-solid fa-minus"></i> @item.CategoryNewName</a>
                <ul class="sub-menu">
                    @foreach (var child in Model)
                    {
                        if (child.ParentNewId == item.CategoryNewId)
                        {
                            <li>
                                <a asp-controller="Blogs" asp-action="GetListBlog" asp-route-id="@child.CategoryNewId"><i class="fa-solid fa-minus"></i> @child.CategoryNewName</a>
                            </li>
                        }
                    }
                </ul>
            </li>
        }
    }

</ul>
