@model IEnumerable<Plant.ViewModels.CategoryNewViewModels>
<ul class="sub_menu pages">
    @foreach (var item in Model)
    {
        if (item.ParentNewId == null)
        {
            <li>
                <a asp-area="" asp-controller="Blogs" asp-action="GetListBlog" asp-route-id="@item.CategoryNewId">  @item.CategoryNewName</a>
            </li>
        }
    }

</ul>
