@model Plant.Models.Payment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Phương thức thanh toán</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Danh sách phương thức thanh toán</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa phương thức thanh toán</li>
    </ol>
</nav>
<!-- Container -->
<div class="container-fluid px-lg-4">
    <!-- Title -->
    <div class="hk-pg-header">
        <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="toggle-right"></i></span></span>Chỉnh sửa phương thức thanh toán</h4>
    </div>
    <!-- /Title -->
    <!-- Row -->
    <div class="row">
        <div class="col-xl-12">
            <section class="hk-sec-wrapper">
                <div class="row">
                    <div class="col-sm">
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="PaymentId" />
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label asp-for="PaymentName" class="control-label">Tên phương thức</label>
                                    <input asp-for="PaymentName" class="form-control" />
                                    <span asp-validation-for="PaymentName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group my-2 d-flex align-items-center">
                                <a asp-action="Index" class="btn btn-dark mr-1">Đóng <i class="far fa-times"></i></a>
                                <input type="submit" name="" value="Cập nhật &#xf00c" class="btn btn-success mr-2 fa-input">
                            </div>
                        </form>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<!-- /Container -->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
