@model IEnumerable<Plant.Models.Payment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<!-- Breadcrumb -->
<nav class="hk-breadcrumb" aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-light bg-transparent">
        <li class="breadcrumb-item"><a href="#">Phương thức thanh toán</a></li>
        <li class="breadcrumb-item active" aria-current="page">Danh sách phương thức thanh toán</li>
    </ol>
</nav>
<!-- /Breadcrumb -->
<!-- Container -->
<div class="container-fluid px-lg-4">
    <!-- Title -->
    <div class="hk-pg-header mb-10">
        <div>
            <h4 class="hk-pg-title"><span class="pg-title-icon"><span class="feather-icon"><i data-feather="book"></i></span></span>Danh sách phương thức thanh toán</h4>
        </div>
        <div class="d-flex">
            <a class="btn btn-info" asp-action="Create"> Create New</a>
        </div>
    </div>
    <!-- /Title -->

    <section class="hk-sec-wrapper mb-3">
        <div class="row">
            <div class="col-sm">
                <div class="table-wrap">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th class="py-3">#Mã</th>
                                    <th class="py-3">Tên</th>
                                    <th class="py-3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>#@item.PaymentId</td>
                                        <td>@item.PaymentName</td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.PaymentId" class="mx-2" data-toggle="tooltip" data-original-title="Edit"><i class="far fa-sliders-h text-dark"></i></a>
                                            <a asp-action="Delete" asp-route-id="@item.PaymentId" data-toggle="tooltip" data-original-title="Xóa"><i class="far fa-trash-alt text-danger"></i></a>
                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>